<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>micblog</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>login.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.servlet.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>signUpServlet</servlet-name>
    <servlet-class>com.servlet.signUpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>signUpServlet</servlet-name>
    <url-pattern>/signUpServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getFollowItemServlet</servlet-name>
    <servlet-class>com.servlet.getFollowItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getFollowItemServlet</servlet-name>
    <url-pattern>/getFollowItemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getSelfItemServlet</servlet-name>
    <servlet-class>com.servlet.getSelfItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getSelfItemServlet</servlet-name>
    <url-pattern>/getSelfItemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getUserItemServlet</servlet-name>
    <servlet-class>com.servlet.getUserItemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getUserItemServlet</servlet-name>
    <url-pattern>/getUserItemServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>newBlogServlet</servlet-name>
    <servlet-class>com.servlet.newBlogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newBlogServlet</servlet-name>
    <url-pattern>/newBlogServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>logoutServlet</servlet-name>
    <servlet-class>com.servlet.logoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>logoutServlet</servlet-name>
    <url-pattern>/logoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>followServlet</servlet-name>
    <servlet-class>com.servlet.followServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>followServlet</servlet-name>
    <url-pattern>/followServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getFollowAndFanServlet</servlet-name>
    <servlet-class>com.servlet.getFollowAndFanServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getFollowAndFanServlet</servlet-name>
    <url-pattern>/getFollowAndFanServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>searchUserServlet</servlet-name>
    <servlet-class>com.servlet.searchUserServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>searchUserServlet</servlet-name>
    <url-pattern>/searchUserServlet</url-pattern>
  </servlet-mapping>
</web-app>
